body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;

}

.header {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;


}

.banner {
    /* background: linear-gradient(180deg,black 0%, gray 100% ) */
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner-head {
    color: #FFFFFF;
    text-align: center;
    padding-top: 177px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;


}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
    margin: 0px 340px 177px;
}

/* Offer */
.second-sec {
    text-align: center;

}

.first {
    color: #F00;
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0px;
}

.second {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 0px;

}

.third {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}

.party {
    margin-top: 120px;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    /* background-position: auto; */
    width: 1320px;
    height: 600px;
}

.midnight {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    /* height: 100%; */
    border-radius: 10px;
    padding-left: 126px;
    /* padding-top: 115px; */
}

.div-header {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding-top: 100px;

}

.div-description {
    color: #FFFFFFCC;
    font-size: 18px;
    line-height: 30px;
    width: 500px;
    /* 166.667% */
}

.btn-pri {
    background: none;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.btn-pri:hover {
    font-size: 25px;
}

.image {
    padding-top: 68px;
    padding-right: 138px;
    padding-bottom: 68px;
    flex-shrink: 0;

}

/* .pic {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

.imagea {
    padding-top: 68px;
    padding-right: 138px;
    padding-bottom: 68px;
    flex-shrink: 0;

}

.imageb {
    padding-top: 68px;
    padding-right: 138px;
    padding-bottom: 68px;
    flex-shrink: 0;
    background-blend-mode: multiply;
    mix-blend-mode: multiply; 

}*/
.location {
    margin-top: 120px;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);


}

.pdt {
    padding-top: 100px;
    text-align: center;
    list-style: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.btn {
    padding-top: 48px;
    text-align: center;

}

.btn-sec {
    color: #FFF;
    border-radius: 5px;
    background-color: #F00;
    border: none;
    align-items: center;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
}

.hosa {
    margin-top: 120px;
    /* background-color: #070211; */
    width: 1320px;
    height: 835px;
    /* background-image: url('../resources/Rectangle\ 1.png'),url('../resources/Rectangle\ 2.png'),url('../resources/Group\ 75.png'), url('../resources/Group\ 44.png');
    background-position: bottom;
    background-repeat: no-repeat; */
}

.ht {
    text-align: center;


}

.h-header {
    color: #070211;
    font-size: 24px;
    /* font-weight: 500; */
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
}

.h-title {
    font-size: 72px;
    font-weight: 900;
    margin-top: 2px;
    margin-bottom: 28px;
}

.h-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    padding: 0px 200px;

}

.hi {
    display: flex;


}

/* .hia {
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    padding-top: 621px;
    padding-bottom: 0px;
}

.hid {
    width: 429px;
    height: 433px;
    flex-shrink: 0;
}

.hib {
    width: 220.048px;
    height: 220.119px;
}
.hic{
    padding-left: 316px;
} */

.ga {
    color: #F00;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
}

.gb {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 0px;
}

.gift {}

.gc {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-right:50%;
    margin-top: 20px;
}

.gia {
    list-style: none;
    display: flex;
    gap: 24px;
}

.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px 50px;
    width: 1220px;
    height: 616px;
    flex-shrink: 0;
    text-align: center;
}

.h-image {
    padding-top: 80px;
    padding-bottom: 0px;
}

.h-title {
    margin-top: 40px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 0px;
}

.h-para {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 22px;
}

.es {
    margin-top: 48px;
    margin-bottom: 80px;
}

.email-box {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
    text-align: center;
}

.sub-btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 26px 56px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.footer {
    background: #070211;
    width: 1320px;
    height: 550px;
    flex-shrink: 0;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF26;
    margin-top: 30px;
    width: 1020px;
    height: 1px;
    border: none;
}

.fa {
    padding-left: 150px;
    padding-top: 110px;
    padding-right: 220px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.fb {
    text-align: center;
    margin-top: 38px;
}

.fba {
    padding-left: 20px;
}

.fc {
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.fca {
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
}

.fcb {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;    
}
.fcb:hover{
    text-decoration: underline;
}